/vendor
/workbench
/node_modules
.env
.idea
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.DS_Store

public/build
public/css
public/js
public/fonts
public/sitemap-index.xml
public/sitemaps/

storage/debugbar/
storage/device_alias/
storage/laravels.json
storage/laravels.pid

/proto

.build.json
.build_web_app.json
.build_web_app_check.json
.gulp_cache

dump.rdb

*.css