@charset "utf-8";
/*
reset
*/
html {
  /* line-height: 1.15; */ /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body,
p,
div,
ul,
li,
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
div,
a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
a:link,
a:visited {
  color: inherit;
}
a {
  background-color: transparent;
  text-decoration: none;
}

img {
  border-style: none;
}

[hidden] {
  display: none;
}
body {
  background-color: #f4f3f3;
}

/*
start
*/

// 常量
$navSidebar_bg_color: #fff;
$navSidebar_icon_color: #999;
$navSidebar_text_color: #666;
$navSidebar_w: 240px;
$navSidebar_s_w: 72px;
$navSidebar_logo_h: 54px;
$navSidebar_item_active_color: #e8f8fa;
$navSidebar_icon_active_color: #14b9c8;
$navSidebar_text_active_color: #14b9c8;
$navSidebar_transition: 0.2s;
$narrow_w: 1320px;
$hidden_w: 800px;

//假设顶栏层级为 t = 7000 变量为 $zIndex-navbar--fixed
$zIndex-navbar--fixed: 300; // 顶栏的层级

$navSidebar_inset_zIndex: $zIndex-navbar--fixed - 1; // 嵌入式为 t - 1
$navSidebar_fixed_zIndex: $zIndex-navbar--fixed + 1; // 浮动式为 t + 1
$navSidebar_ul_zIndex: 2; // 内容为 t + 2
$navSidebar_shade_zIndex: 1; // 内容为 t + 1

// 基础样式
// 嵌入式 - 宽
@mixin nav-sidebar__inset($calss) {
  .nav-sidebar__inset#{$calss} {
    width: $navSidebar_w;
    .nav-sidebar__item {
      height: 48px;
      padding-left: 20px;
      margin-bottom: 4px;
      flex-direction: row;
      justify-content: start;
      &:hover {
        background-color: $navSidebar_item_active_color;
      }
      &.nav-sidebar__item-active {
        background-color: $navSidebar_item_active_color;
      }
    }
    .nav-sidebar__icon {
      margin-bottom: 0;
    }
    .nav-sidebar__title {
      margin-left: 20px;
    }
  }
}

.js-nav-sidebar,
.nav-sidebar {
  .nav-sidebar__inset {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: $navSidebar_s_w;
    z-index: $navSidebar_inset_zIndex;
  }

  .nav-sidebar__ul {
    height: 100vh;
    box-sizing: border-box;
    padding-top: $navSidebar_logo_h + 10;
    overflow-y: scroll;
    background-color: $navSidebar_bg_color;
  }

  .nav-sidebar__icon {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: $navSidebar_icon_color;
    fill: $navSidebar_icon_color;
    margin-bottom: 8px;
    font-size: 24px !important;
  }

  .nav-sidebar__title {
    font-size: 16px;
    color: $navSidebar_text_color;
    margin-left: 0;
  }

  .nav-sidebar__item {
    height: $navSidebar_logo_h + 10;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      cursor: pointer;
      .nav-sidebar__icon {
        color: $navSidebar_icon_active_color;
        fill: $navSidebar_icon_active_color;
      }
      .nav-sidebar__title {
        color: $navSidebar_text_active_color;
      }
    }
    &.nav-sidebar__item-active {
      .nav-sidebar__icon {
        color: $navSidebar_icon_active_color;
        fill: $navSidebar_icon_active_color;
      }
      .nav-sidebar__title {
        color: $navSidebar_text_active_color;
      }
    }
  }

  // 嵌入式 - 窄
  .nav-sidebar__inset.nav_sidebar-narrow {
    width: $navSidebar_s_w;
  }

  @include nav-sidebar__inset(".nav_sidebar-wide");

  // 浮动式
  .nav-sidebar__fixed {
    position: fixed;
    display: none;
    top: 0;
    z-index: $navSidebar_fixed_zIndex;
    .nav-sidebar__ul {
      transition-property: left;
      transition-duration: $navSidebar_transition;
      position: absolute;
      padding-top: 0;
      top: 0;
      left: -$navSidebar_w;
      width: $navSidebar_w;
      z-index: $navSidebar_ul_zIndex;
    }
    .nav-sidebar__item {
      height: 48px;
      padding-left: 20px;
      margin-bottom: 4px;
      flex-direction: row;
      justify-content: start;
      &:hover {
        background-color: $navSidebar_item_active_color;
      }
      &.global-active {
        background-color: $navSidebar_item_active_color;
      }
    }
    .nav-sidebar__icon {
      margin-bottom: 0;
    }
    .nav-sidebar__title {
      margin-left: 20px;
    }
  }
  .nav-sidebar__shade {
    transition-property: opacity;
    transition-duration: $navSidebar_transition;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.3);
    opacity: 0;
    z-index: $navSidebar_shade_zIndex;
  }
  .nav-sidebar__logo {
    height: $navSidebar_logo_h;
    margin-bottom: 10px;
  }

  // 浮动式-off
  .nav_sidebar-hidden {
    .nav-sidebar__ul {
      left: -$navSidebar_w;
    }
    .nav-sidebar__shade {
      opacity: 0;
    }
  }

  //浮动式-on
  .nav_sidebar-show {
    .nav-sidebar__ul {
      left: 0;
    }
    .nav-sidebar__shade {
      opacity: 1;
    }
  }
}

// nav-sidebar-inset-hidden 隐藏侧边栏逻辑

.nav-sidebar[nav-sidebar-inset-hidden],
.js-nav-sidebar[nav-sidebar-inset-hidden] {
  .nav-sidebar__inset {
    display: none;
  }
  + .nav-sidebar-main {
    padding-left: 0;
  }
}

.nav-sidebar,
.js-nav-sidebar {
  + .nav-sidebar-main {
    padding-left: $navSidebar_s_w;
  }
}

// //媒体查询，宽度过小则自动隐藏
@media (max-width: $narrow_w) {
  // 窄
  .nav-sidebar {
    .nav-sidebar__inset {
      width: $navSidebar_s_w;
    }
  }
}
@media (min-width: $narrow_w) {
  // 宽
  .nav-sidebar {
    @include nav-sidebar__inset("");
    + .nav-sidebar-main {
      padding-left: $navSidebar_w;
    }
  }
}
@media (max-width: $hidden_w) {
  .nav-sidebar {
    .nav-sidebar__inset {
      display: none;
    }
    + .nav-sidebar-main {
      padding-left: 0;
    }
  }
}
